/* Apply styles to the form elements */
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Add space between the two columns */
    padding: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center; /* Vertically center the label and input */
    gap: 10px; /* Space between the label and input */
  }
  
  .input-container label {
    width: 150px; /* Fixed width for the label */
    text-align: left;
  }
  
  .input-container input {
    width: calc(100% - 160px); /* Take up the remaining space minus label width */
    padding: 4px;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }
  
  form {
    display: grid;
    gap: 0px;
  }
  


  /* Apply styles to the form elements */
.form-container-2 {
    padding: 10px;
  }
  
.input-container-2 {
  display: flex;
  align-items: center; /* Vertically center the label and input */
  gap: 10px; /* Space between the label and input */
}
  
  .input-container-2 label {
    width: 150px; /* Fixed width for the label */
    text-align: left;
  }
  
  .input-container-2 input {
    width: calc(100% - 160px); /* Input will take up the remaining space */
    padding: 4px;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
  }


  /* Style the table */
.editable-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .editable-table td {
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .editable-table th {
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .editable-table input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
  }

  .editable-table select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
  }
  
  .editable-table input[type="number"] {
    text-align: right;
  }
  

  .totals-container {
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .totals-row {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the items */
    font-size: 18px;
  }
  
  .total-item,
  .nett-total {
    display: flex;
    align-items: center;
  }
  
  .label {
    font-weight: bold;
    color: #333;
    margin-right: 2px;
  }
  
  .value-special {
    font-size: 20px;
    color: #007bff;
    font-weight: bold;
    margin-right: 100px;
  }

  .value {
    font-size: 20px;
    color: #007bff;
    font-weight: bold;
  }
  
  